/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

/* Headings */
h2, h3 {
  font-family: "Protest Revolution", sans-serif; /* Consistent font for all headings */
}

/* Logo */
.logo {
  font-family: "copperplate", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* Main Navigation */
.tab-bar {
  background-color: black;
  color: white;
}

.tab-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-family: "copperplate", sans-serif;
}

.tab-bar li {
  display: inline;
}

.tab-bar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.tab-bar a:hover {
  background-color: #555;
}

/* Footer */
.footer {
  background: #000;
  padding: 30px 0;
  text-align: center;
  font-family: 'Play', sans-serif;
}

.footer .row {
  width: 100%;
  margin: 1% 0;
  padding: 0.6% 0;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0;
    text-align: left;
  }

  .footer .row a i {
    margin: 0 3%;
  }

  .tab-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .tab-bar li {
    margin: 10px 0;
  }
}

/* Artist Introduction Section */
.artist-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "copperplate", sans-serif;
}

.artist-info {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.artist-info h2, .artist-info h3 {
  margin-bottom: 10px;
  color: #333;
  font-family: "copperplate", sans-serif;
}

.artist-info p {
  color: black;
  font-size: 18px;
  padding: 0 10px;
}

.artist-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.artist-photo img {
  width: 48%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artist-photo img:last-child {
  margin-top: -15px;
}

.logo {
  text-align: center;
  display: block;
  font-size: 13px;
}

.logo2, .logo3, .logo4 {
  font-family: "copperplate", sans-serif;
}

.logo3, .logo4 {
  color: white;
}

.row {
  font-family: "copperplate", sans-serif;
}
